<h1>New Song</h1>

<form action="/songs" method="POST">
    <label for="song_name">Name:</label>
    <input type="text" id="song_name" name="song[name]" placeholder="Name" />
    
    <h3>Select an Artist</h3>
    <% @artists.each do |artist| %>
        <input type="radio" id="artist_<%= artist.id %>" name="artist[id]" value="<%= artist.id %>" /> <%= artist.name %><br />
    <% end %>

    <h3>Create Artist</h3>
    <label for="artist_name">Artist:</label>
    <input type="text" id="artist_name" name="artist[name]" placeholder="Artist Name" />

    <h3>Genres</h3>
    <% @genres.each do |genre| %>
        <input type="checkbox" id="<%= genre.name %>" name="song[genre_ids][]" value="<%= genre.id %>" /> <%= genre.name %>
    <% end %>
    
    <button type="submit" id="submit" value="Create" />Create</button>
</form>